@page
@model TieRenTournament.Pages.CompetitorCountErrorModel
@{
}
<br />
<h1>You tried to start an event with less than 2 competitors. Please add competitors and try again</h1>
<br />             
<h3><a class="nav-link text-dark" asp-area="" asp-page="/Competitors/Index">Click here to go back to setup</a></h3>
