@page
@model TieRenTournament.Pages.MatchHistoryErrorModel
@{
}
<br />
<h1>You must clear match results before deleting a competitor</h1>
<br />
<h3><a class="nav-link text-dark" asp-area="" asp-page="/Events/Results">Click here to redirect to results</a></h3>

